.widgets-body {
  width: 95%;
  height: 50%;
  margin: 2% auto 3%;
  border-radius: 30px;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(30, 42, 62, 1) 0%,
    rgba(54, 69, 98, 0.1) 100%
  );
  -webkit-backdrop-filter: blur(12.5px);
  backdrop-filter: blur(12.5px);
}

/* Media query for mobile screens */
@media screen and (max-width: 480px) {
  .widgets-body {
    width: 90%; /* Adjust the width for smaller screens */
    margin: 5% auto; /* Adjust the margin for smaller screens */
    height: auto; /* Allow height to adjust based on content */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 55%;
  }
}
